.App {
  text-align: center;
}

.player-num {
  display: flex;
  flex-direction: column;
}

.num-form {
  width: 200px;
  align-self: center;
}

.red-text {
  color: red;
}

.class-container {
  display: flex;

}

.class {
  border: 1px solid black;
  flex: 1;
  height: 500px;
}